.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

.product-card {
    background-color: var(--bg-tarjetas);
    border: 1px solid #1f2937;
    padding: 15px;
    transition: transform 0.3s ease;
}

.product-card:hover {
    border-color: var(--color-acento);
    transform: translateY(-5px);
}

.product-price {
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
}